<% @page_title = "Delete comment" %>

<div class="center">
<div class="comments delete">
  <h2>Delete Comment</h2>

  <%= form_for(:category, :url => {:action => 'delete', :id => @comment.id}) do |f| %>

    <p>Are you sure you want to permanently delete this Comment?</p>

    <p class="reference-name"><%= @comment.title %></p>

    <div class="form-buttons">
      <%= submit_tag("Delete Comment", {:action => 'delete', :id => @comment.id}) %>
    </div>

  <% end %>
</div>
</div>