<ul>
  <% categories.each do |category| %>
    <li>
	    <%= link_to_unless_current category.title, category %>
	    <%= render 'submenu_cats', categories: category.children if category.children.present? %>
    </li>
  <% end %>
</ul>