<% @page_title = "New Documentation" %>

<%= render 'submenu_cat' %>

<div class="Article new">
	<div class="center">
  		<h2>Create New Documentation</h2>
  	</div>

  <%= form_for(:article, :url => {:action => 'create'}) do |f| %>

    <%= render(:partial => "form", :locals => {:f => f}) %>

  <% end %>
</div>
